---
title : Tous les projets
---
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="stylesheets/main.css" />
	<script type="text/javascript" src="javascripts/jquery_min.js"></script>
	<script type="text/javascript" src="javascripts/main.js"></script>
</head>
<body>
	<div class="header">
		<div class="wrap">
			<hgroup>
				<div class="title_border">
					<span class="icon-shine tl"></span>
					<span class="icon-shine tr"></span>
					<span class="icon-shine bl"></span>
					<span class="icon-shine br"></span>
					<h1>hackday</h1>
					<h2>once a month at Zengularity since 2011</h2>
				</div>
			</hgroup>
		</div>
			<div id="size_little">
				<span class="icon-whales size_little"></span>
				<span class="icon-whales whales_02 size_little"></span>
				<span class="icon-twitter size_little"></span>
				<span class="icon-twitter twitter_02 size_little"></span>
				<span class="icon-star size_little"></span>
				<span class="icon-star star_02 size_little"></span>
				<span class="icon-arduino size_little"></span>
				<span class="icon-arduino arduino_02 size_little"></span>
				<span class="icon-croissant size_little"></span>
				<span class="icon-nyancat size_little"></span>
				<span class="icon-nyancat nyancat_02 size_little"></span>
				<span class="icon-zengularity size_little"></span>
				<span class="icon-zengularity zengularity_02 size_little"></span>
				<span class="icon-croissant croissant_02 size_little"></span>
				<span class="icon-croissant croissant_03 size_little"></span>
				<span class="icon-tags"></span>
				<span class="icon-tags tags_02"></span>
				<span class="icon-tags tags_03"></span>
			</div>
			<div id="size_medium">
				<span class="icon-snowflake size_medium"></span>
				<span class="icon-snowflake snowflake_02 size_medium"></span>
				<span class="icon-scala size_medium"></span>
				<span class="icon-scala scala_02 size_medium"></span>
				<span class="icon-beer size_medium"></span>
				<span class="icon-beer beer_02 size_medium"></span>
				<span class="icon-cloud size_medium"></span>
				<span class="icon-cloud cloud_02 size_medium"></span>
				<span class="icon-fastfood size_medium"></span>
				<span class="icon-hand size_medium"></span>
				<span class="icon-hand hand_02 size_medium"></span>
				<span class="icon-jewels size_medium"></span>
				<span class="icon-jewels jewels_02 size_medium"></span>
			</div>
			<div id="size_big">
				<span class="icon-r2d2 size_big"></span>
				<span class="icon-r2d2 r2d2_02 size_big"></span>
				<span class="icon-play size_big"></span>
				<span class="icon-play play_02 size_big"></span>
				<span class="icon-cock size_big"></span>
				<span class="icon-cock cock_02 size_big"></span>
				<span class="icon-lego size_big"></span>
				<span class="icon-lego lego_02 size_big"></span>
				<span class="icon-localisation size_big"></span>
				<span class="icon-anchor size_big"></span>
				<span class="icon-anchor anchor_02 size_big"></span>
			</div>
	</div>
	<div class="intro">
		<div class="wrap">
                  <p>The Zengularity Hackdays take place the last friday of each month. With this day we celebrate the web and all its possibilities, and we try to make it even more awesome. We love the web and this website is our love letter.</p>
                  <p>You'll find here the projects we contributed back to the community. Please bear in mind those projects are prototypes and the products of a single day.</p>
		</div>
	</div>

<div class="wrap">
  <h2 class="first_title"><span class="icon-cross"></span>last hackday<span class="icon-cross"></span></h2>	
  <section class="list-project">
    {% for project in site.data.projects.latest %}
      <div class="project">
        <div class="project_description">
          <section class="photo">
          <img src="{{ project.image }}" alt="projet_O1"/>
            <div class="links">
              {% for url in project.urls %}
                <a href="{{url}}">http:{{url}}</a><br/>
              {% endfor %}
              <a href="{{project.repo}}">http:{{project.repo}}</a>
            </div>
          </section>
          <section class="article">
            <h1>{{ project.name }}</h1>
            <h2 class="date"><span>Hackday {{ project.hackday }} • {{ project.date }}</span></h2>
            <p> {{project.description }} </p>
          </section>
        </div>
        <div class="hackers">
          <h3>
            <span>Les Hackers</span>
          </h3>
          <div class="profil">
            <ul>
              {% for hacker in project.hackers %}
              <li>
                <img src="{{hacker.photo}}" alt="{{hacker.twitter}}"/>
                <p>@{{hacker.twitter}}</p>
                <a href="//twitter.com/{{ hacker.twitter }}" target="_blank"></a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </section>

  <h2><span class="icon-cross"></span>olders projects<span class="icon-cross"></span></h2>
  <section class="list-project">
    {% for project in site.data.projects.old %}
      <div class="project">
        <div class="project_description">
          <section class="photo">
            <img src="images/projet_01.jpg" alt="projet_O1"/>
            <div class="links">
              {% for url in project.urls %}
                <a href="{{url}}">http:{{url}}</a><br/>
              {% endfor %}
              <a href="{{project.repo}}">http:{{project.repo}}</a>
            </div>
          </section>
          <section class="article">
            <h1>{{ project.name }}</h1>
            <h2 class="date"><span>Hackday {{ project.hackday }} • {{ project.date }}</span></h2>
            <p> {{project.description }} </p>
          </section>
        </div>
        <div class="hackers">
          <h3>
            <span>Les Hackers</span>
          </h3>
          <div class="profil">
            <ul>
              {% for hacker in project.hackers %}
              <li>
                <img src="{{hacker.photo}}" alt="{{hacker.twitter}}"/>
                <p>@{{hacker.twitter}}</p>
                <a href="//twitter.com/{{ hacker.twitter }}" target="_blank"></a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </section>

</div>
<div class="goodies">
  <div class="wrap">
    <h3>
      <span>Les goodies</span>
    </h3>
  </div>
</div>
</body>

<footer>
	<div class="wrap">
		<div class="content_footer">
			<section class="legend">
				<p>Zengularity blabla Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
				</p>
			</section>
			<section class="logotype">
				<p>hackday-team@zengularity.com</p>
				<p>www.zengularity.com</p>
				<img height="50" src="images/logo-zengularity.svg" alt="">
			</section>
			<section class="legend">
				<p>Zengularity blabla Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
				</p>
			</section>
		</div>
	</div>
</footer>
</html>
