@font-face {
	font-family: 'hackday';
	src:url('fonts/hackday.eot?-65bgnq');
	src:url('fonts/hackday.eot?#iefix-65bgnq') format('embedded-opentype'),
		url('fonts/hackday.woff?-65bgnq') format('woff'),
		url('fonts/hackday.ttf?-65bgnq') format('truetype'),
		url('fonts/hackday.svg?-65bgnq#hackday') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'hackday';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cross:before {
	content: "\e600";
}
.icon-whales:before {
	content: "\e602";
}
.icon-twitter:before {
	content: "\e603";
}
.icon-tags:before {
	content: "\e604";
}
.icon-star:before {
	content: "\e605";
}
.icon-snowflake:before {
	content: "\e606";
}
.icon-scala:before {
	content: "\e607";
}
.icon-r2d2:before {
	content: "\e608";
}
.icon-play:before {
	content: "\e609";
}
.icon-arduino:before {
	content: "\e60a";
}
.icon-beer:before {
	content: "\e60b";
}
.icon-cloud:before {
	content: "\e60c";
}
.icon-cock:before {
	content: "\e60d";
}
.icon-croissant:before {
	content: "\e60e";
}
.icon-fastfood:before {
	content: "\e60f";
}
.icon-hand:before {
	content: "\e610";
}
.icon-jewels:before {
	content: "\e611";
}
.icon-lego:before {
	content: "\e612";
}
.icon-nyancat:before {
	content: "\e613";
}
.icon-localisation:before {
	content: "\e614";
}
.icon-anchor:before {
	content: "\e615";
}
.icon-zengularity:before {
	content: "\e601";
}
